certifi==2020.6.20
cloudpickle==1.2.0
-e git+https://github.com/yubryanj/Multi-Agent-Reinforcement-Learning-on-Finance-Graphs.git@64a3a354fcbd3a279e085cc587c3284becff3093#egg=financial_network&subdirectory=financial-network
gym==0.15.4
numpy==1.19.4
opencv-python==4.4.0.46
pandas==1.1.4
Pillow==8.0.1
pyglet==1.3.2
scipy==1.5.4
stable-baselines==2.10.1